<%-include('./vender_header.ejs')%>
<%-include('./vender_left_menu_bar.ejs')%>

<style>
    a{
        text-decoration: none;
        color: white;
    }
</style>

<section class="content dashboard">
    <div class="page-heading">
        <h1>Travel Claim</h1>
        <ol class="breadcrumb">
            <li><a href="/vender/index">Home</a></li>
            <li class="active">Travel Insurance</li>
        </ol>
    </div>
    <div class="panel panel-default">
       <!-- <div class="panel-heading">
            <button class="btn btn-info"><i class="fa fa-plus"></i> <a href="/vender/create_vender_staff">Add New</a></button>
        </div> -->

        <div class="panel-body">
            <div class="table-responsive">
                <table id="myTable" class="table js-exportable table-bordered">

                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Request User Name</th>
                            <th>CivilId</th>
                            <th>Phone no</th>
                            <th>Insurance Name</th>
                            <th>Registration no</th>
                            <th>Policy No</th>
                            <th>Request Date</th>
                            <th>Status</th>
                            <th>Detail</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < data.length; i++) { %>
                             <tr>
                                 
                             <td><%= i+1%></td>
                             <td><%=data[i].req_user_name%></td> 
                             <td><%=data[i].req_civilId%></td> 
                             <td><%=data[i].req_mobile_no%></td> 
                             <td><%=data[i].insuranceType%></td> 
                             <td><%=data[i].policy_number%></td> 
                             <td><%=data[i].policy_duration%> Year</td> 
                             <td><%= new Date(data[i].createdAt).toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'}) %></td> 
                            
                             <td>
                                <% if (data[i].status=== "Approved") { %>
                                    <span style="color: blue;">Approved</span>
                                <% } else if (data[i].status  ==="Rejected") { %>
                                    <span style="color: red;">Rejected</span>
                                <% } else { %>
                                    <span style="color: rgb(187, 37, 107);">New</span>
                                <% } %>
                              </td>

 
                             <td>
                            
                             <a href ="/vender/travel_premium_claim_details/<%=data[i]._id%>"class="btn btn-primary">
                                 <i class="fa fa-eye"></i></a>
                           
                             </td>
                             </tr>
                             <% } %>
                     </tbody>
                </table>
            </div>
        </div>
    </div>
    
    </div>
</section>
<%-include('./vender_footer.ejs')%>
